Beaker==1.6.4
Jinja2==2.7.1
Mako==0.9.0
MarkupSafe==0.18
PasteDeploy==1.5.0
Pygments==1.6
SQLAlchemy==0.8.2
WTForms==1.0.5
WebOb==1.2.3
alembic==0.6.0
anykeystore==0.2
gunicorn==18.0
ipython==1.1.0
oauthlib==0.6.0
psycopg2==2.5.1
pyramid==1.5a2
pyramid-beaker==0.8
pyramid-jinja2==1.8
pyramid-mailer==0.13
pyramid-mako==0.3.1
pyramid-tm==0.7
python-openid==2.2.5
raven==3.5.0
repoze.lru==0.6
repoze.sendmail==4.1
requests==2.0.0
requests-oauthlib==0.4.0
transaction==1.4.1
translationstring==1.1
velruse==1.1.1
venusian==1.0a8
waitress==0.8.7
zope.deprecation==4.0.2
zope.interface==4.0.5
zope.sqlalchemy==0.7.3
