{% extends 'base.html' %}
{% from 'tag_list.html' import tag_list %}
{% block content %}
<div class="group single_record without_image">
    <h1>{{group.name}}</h1>
    {#
    <div class="record_actions">
        <a href="/groups/ncug/edit" class="edit">edit</a>
        <a href="/groups/ncug" class="delete" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Delete</a>
    </div>
    #}
    <div>{{group.description}}</div>
    {% if group.meeting_info %}
    <h2>Meeting Info</h2>
    <div class="description">
        {{group.meeting_info}}
    </div>
    {% endif %}
    <div class="links">
        <h2>Links</h2>
        <a href="{{group.url}}" class="url">{{group.url}}</a>
    </div>
    <div class="section tags">
        <h2>Tags</h2>
        {% for tag in group.tags %}
        <a href="{{'groups.tag'|route_url(tag=tag)}}">{{tag}}</a>{% if not loop.last -%},{%- endif %}
        {% endfor %}
    </div>
    <div class="section members">
        <h2>Members</h2>
        <ul class="resource_list people unstyled">
            {% for person in group.members %}
            <li class='user'>
                <a href='{{'people.detail'|route_url(slug=person.slug)}}' class='avatar'><img src="{{ person.email|gravatar(48)}}" /></a>
                <h3><a href='{{'people.detail'|route_url(slug=person.slug)}}'>{{person.name}}</a></h3>
                <p>{{person.bio or ''}}</p>
            </li>
                        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

