{% extends 'base.html' %}
{% block content %}
<div class='row'>
    <div class='span6'>
        <div id="site_intro">
        A community-edited guide to the <span class="awesome">awesome tech community</span> of Nashville, TN
        </div>
    </div>
    <div class='span6'>
        <h4>Home To</h4>
        <a href='{{'people.list'|route_url}}' class='btn btn-large btn-block btn-warning btn-home'><span class="count">{{people}}</span> People</a>
        <a href='{{'companies.list'|route_url}}' class='btn btn-large btn-block btn-info btn-home'><span class="count">{{companies}}</span> Companies</a>
        <a href='{{'groups.list'|route_url}}' class='btn btn-large btn-block btn-danger btn-home'><span class="count">{{groups}}</span> Groups</a>
        {#
        <div class='bar red'><span class="count">0</span> Jobs</div>
        #}
    </div>
</div>
{% endblock %}
